@font-face {
  font-family: "Press Start 2P";
  src: url("../font/PressStart2P.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url(modal_support_media.css) screen and (color);
.container {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
}
.open-modal-support-btn {
  width: 100%;
  height: 100%;
  max-width: 417px;
  max-height: 206px;
  background-color: #262238;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Press Start 2P";
  font-size: 40px;
}
.modal-support {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  display: grid;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal-support.open {
  visibility: visible;
  opacity: 1;
}
.modal-support.open .modal-support__box {
  transform: scale(1);
}
.modal-support__box {
  position: relative;
  margin: auto auto;
  max-width: 768px;
  max-height: 793px;
  width: 100%;
  height: 100%;
  background-color: #262238;
  transform: scale(0);
  transition: transform 0.8s;
  z-index: 1;
}
.email-panel {
  position: absolute;
  left: 35px;
  top: 24px;
  max-width: 697px;
  max-height: 114px;
  width: 100%;
  height: 100%;
  background-color: #7c89a2;
  z-index: 2;
}
.email-input {
  position: absolute;
  left: 61px;
  top: 53px;
  max-width: 646px;
  max-height: 57px;
  width: 100%;
  height: 100%;
  font-size: 28px;
  font-family: "Press Start 2P";
  color: rgb(0, 0, 0, 0.6);
  border: none;
  text-align: start;
  text-indent: 17px;
  padding-inline-end: 100px;
  outline-color: #000;
  z-index: 4;
}
.email-icon-container {
  position: absolute;
  left: 619px;
  top: 63px;
  z-index: 4;
}
.issue-panel {
  position: absolute;
  left: 35px;
  top: 171px;
  max-width: 697px;
  max-height: 601px;
  width: 100%;
  height: 100%;
  background-color: #7c89a2;
  z-index: 2;
}
.issue-label {
  position: absolute;
  left: 71px;
  top: 192px;
  font-size: 20px;
  font-family: "Press Start 2P";
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  z-index: 3;
}
.issue-textarea {
  position: absolute;
  left: 60px;
  top: 225px;
  max-width: 646px;
  max-height: 521px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: "Press Start 2P";
  color: #000;
  border: 0;
  padding-top: 21px;
  padding-left: 14px;
  padding-right: 14px;
  outline-color: #000;
  text-indent: 36px;
  line-height: 1.5;
  resize: none;
  z-index: 3;
}
.issue-icon-container {
  position: absolute;
  left: 71px;
  top: 232px;
  z-index: 4;
}
.form .issue-textarea:focus ~ .issue-icon-container {
  display: none;
}
.left-btn-img {
  position: absolute;
  left: 153px;
  top: 692px;
  display: none;
}
.submit-button {
  position: absolute;
  left: 261px;
  top: 703px;
  max-width: 245px;
  max-height: 69px;
  width: 100%;
  height: 100%;
  background-color: #7c89a2;
  font-size: 20px;
  font-family: "Press Start 2P";
  color: #fbff48;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  display: none;
}
.rigth-btn-img {
  position: absolute;
  left: 525px;
  top: 692px;
  display: none;
}
