@font-face {
    font-family: "Press Start 2P";
    src: url("../font/Press\ Start\ 2P.ttf");
    font-weight: Regular;
}

*{
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: #9d9d9d;
    max-height: 100%;
  }

img{
    display: inline-block;
    max-width: 100%;
}