@font-face {
    font-family: "Press Start 2P";
    src: url("../font/Press\ Start\ 2P.ttf");
    font-weight: Regular;
}

*{
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  body {
    min-height: 100%;
    background: url("../img/background.png");
    background-size: cover;
    background-position: center center;
  }

img{
    display: inline-block;
    max-width: 100%;
}

.conteiner{
    color: white;
    position: relative;
    max-width: 1440px;
    height: auto;
    margin: auto;
    font-family: 'Suisse';
    z-index: 1;
}

.logo{
    position: absolute;
    right: 0px;
    top: -115px;
    width: 358px;
    height: 88px;
}

.header{
    font-family: "Press Start 2P";
    font-size: 1.389vw;
    text-align: center;
    background: #1a142e;
    -webkit-text-stroke: 0.7px #000000;
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-top: 68px;
    width: 100%;
    height: 130px;
    max-height: 130px;
}

.main_menu{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 22.4299% 22.4299% 22.4299% 6.032%;
    grid-template-rows: minmax(10px, 70px);
    position: relative;
    padding-top: 30px;
    margin-left: 12.083%;
    width: 81.736%;
}

.menu_button{
    background: #7C89A2;
    border: 0.2px solid black; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    height: 70px;
}

.home_page_button{ 
}

.home_page_button_text,
.home_page_button_text:visited{
    margin-top: 19px;
    margin-left: 29.545%;
    width: 53.03%;
    height: auto;
    float:left;
    text-decoration:none;
    color: white;
    -webkit-text-stroke: 0;
}

.catalog_page_button{
    
}

.catalog_page_button_text,
.catalog_page_button_text:visited{
    margin-top: 12px;
    margin-left: 14.393%;
    width: 82.575%;
    height: auto;
    float:left;
    text-decoration:none;
    color: white;
    -webkit-text-stroke: 0;
}

.support_page_button{
 
}

.support_page_button_text,
.support_page_button_text:visited{
    margin-top: 22px;
    margin-left: 26.136%;
    width: 68.181%;
    height: auto;
    float:left;
    text-decoration:none;
    color: white;
    -webkit-text-stroke: 0;
}

.bottom_box{
    background: #39424D;
    margin-top: 60px;
    width: 100%;
    height: 10px;
}
  
.profile_page_button{
    /*object-fit: scale-down;*/
    max-height: 70px;
    max-width: 70px;
    height: 70px;
}


.img_menu_button{
    position: absolute;
    margin-top: 4px;
    margin-left: 4.545%;
    float: left;  
}

.img_home_button{
    min-width: 30px;
    height: 2.5em;
}

.img_catalog_button{
    padding-left: 1.515%;
    min-width: 30px;
    height: 2.8em;
}

.img_support_button{
    padding-left: 1.151%;
    padding-top: 3px;
    min-width: 30px;
    height: 2.4em;
}

@media only screen and ( min-width: 1440px){
    .header{
        font-size: 20px;
    }
}

@media only screen and ( max-width: 1024px){
    .header{
        max-height: 100px;
    }
    .main_menu{
        padding-top: 25px;
        margin-left: 6%;
    }
    .menu_button{
        max-height: 50px;
    }
    .bottom_box{
        margin-top: 45px;
        width: 100%;
        max-height: 5px;
    }
    .profile_page_button{
        /*object-fit: scale-down;*/
        max-height: 50px;
        max-width: 50px;
        height: 50px;
    }
    .home_page_button_text{
        margin-top: 15px;
    }
    .catalog_page_button_text{
        margin-top: 9px;
    }
    .support_page_button_text{
        margin-top: 15px;
    }

}

@media only screen and ( max-width: 768px){
    .menu_button{
        width: 50px;
    }
    .support_page_button_text,
    .catalog_page_button_text,
    .home_page_button_text{
        display: none;
    }
    .img_catalog_button,
    .img_support_button{
        margin: 0;
        margin-left: 5px;
        height: 40px;
    }
    .img_home_button{
        margin: 0;
        height: 40px;
    }

}

@media only screen and ( max-width: 375px){
    .header{
        margin-top: 0;
        position: fixed;
        opacity: 1;
    }
    .logo{
        display: none;
    }
    .main_menu{
        margin-left: 12%;
        width: auto;
        height: 70px;
        justify-content: start;
    }
}