.search_tool{
    font-family: "Press Start 2P";
    opacity: 0.9;
    display: flex; 
    justify-content: space-between;
    max-height: 40px;
    margin: 1.875% 12.33% auto 12.33%;
}

.tool{
    display: flex; 
    flex-direction: row;
}

.search_tool_button{
}

.sort{
    background: #252237;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 198px;
    height: 40px;
}

.sort_text{
    float: left;
    width: 161px;
    height: 16px;
    margin: 12px auto auto 18px;
}

.filter{
    background: #252237;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 198px;
    height: 40px;
    margin-left: 13px;
}

.filter_text{
    float: left;
    width: 112px;
    height: 16px;
    margin: 12px auto auto 43px;
}

.search{
    background: #252237;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* width: 22.5624%; */
    width: 280px;
    min-height: 40px;
    height: 40px;
    display: inline-flex;
}

.search_zone{
    background: #FFFFFF;
    border-radius: 15px;
    margin: 1.55% auto auto 3.214%;
    height: 30px;
    /* width: 95%; */
    width: 266px;
}

.search_zone_text{
    outline: none;
    font-family: "Press Start 2P";
    border: none;
    color: #000000;
    opacity: 0.6;
    float: left;
    height: 30px;
    width: 205px;
    margin: auto auto 7px 12px;
}

.search_button{
    border: none;
    background: #FFFFFF;
    border-radius: 15px;
}

.img_search{
    float:right;
    height: 26px;
    margin: 3px 3px auto auto;
} 

.direct_move{
    background: #201C33;
    opacity: 0.9;
    width: 65px;
    height: 529px;
    margin: 59px auto auto auto;
    cursor: pointer;
}

.move_back{
    width: 43px;
    margin: auto 17px auto 5px;
}

.move_next{
    width: 43px;
    margin: auto 5px auto 17px;
} 

@media only screen and ( max-width: 1024px){
    .search_tool{
        margin: 8px auto auto auto;
    }
    .sort{
        width: 170px;
    }
    .sort_text{
        margin: 12px auto auto 4px;
    }
    .filter{
        width: 170px;
    }
    .filter_text{
        margin: 12px auto auto 28px;
    }
    .search{
        width: 22.5624%;
    }
    .search_zone{
        width: 95%;
    }
    .search_zone_text{
        width: 69%;
    }
    .direct_move{
        width: 40px;
    }
    .move_back{
        width: 30px;
        margin: auto auto auto auto;
    }
    
    .move_next{
        width: 30px;
        margin: auto auto auto auto;
    } 

}

@media only screen and ( max-width: 768px){
    .search_tool{
        align-items: center;
        margin: 1.875% auto auto auto;
        flex-direction: column;
    }
    .search{
        width: 353px;
        margin-top: 8px;
        margin-left: 0;
    }
    .search_zone_text{
        width: 80%;
    }
    .direct_move{
        display: none;
        width: 40px;
    }
    .move_back{
        display: none;
        width: 30px;
        margin: auto auto auto auto;
    }
    
    .move_next{
        display: none;
        width: 30px;
        margin: auto auto auto auto;
    } 
}

@media only screen and ( max-width: 375px){
    .search_tool{
        margin-top: 0;
        opacity: 1;
    }
    .tool{
        margin-top: 110px;
    }
    .search{
        width: 353px;
        margin-top: 8px;
        margin-left: 0;
    }
    .search_zone_text{
        opacity: 1;
    }
}