.conteinerRightSide{

}

.textBrush{
    font-size: 3vw;
}

.conteinerFix{
<<<<<<< HEAD
    margin-top: 30px;
=======
    margin: 30px auto auto auto;
>>>>>>> origin/Catalog
}

.conteinerColors{
    margin-top: 24px;
}

.textColor{
    font-size: 1.62vw;
}

.palette{
    width: 13.44vw;
    margin-top: 10px;
}

.conteinerValueOfColor{
    display: grid;
    margin-top: 52px;
    justify-content: center;
}

.rgb{

}

.hex{

}

.conteinerSettings{
    font-size: 1.9vw;
    margin-top: 10px;
}

.textSettings{
    font-size: 1.98vw;
}

.BoxSlider{
    margin-top: 32px;
}

.sliderText{
<<<<<<< HEAD
    font-size: 1.45vw;
}

.slider{
    width: 20vw;
=======
    font-size: 20px;
}

.slide{
    margin-top: 10px;
    width: 90%;
    height: 8px;
    -webkit-appearance: none;
    background: #ffffff;
    outline: none;
    border-radius: 5px;
}
.slide:hover {
    opacity: 1;
}
.slide::-moz-range-thumb {
    width: 2vh;
    height: 2vh;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
>>>>>>> origin/Catalog
}

@media only screen and ( min-width: 1440px){

    .textBrush{
        font-size: 41px;
    }
    
    .conteinerFix{
        margin-top: 30px;
    }
    
    .conteinerColors{
        margin-top: 24px;
    }
    
    .textColor{
        font-size: 26px;
    }
    
    .palette{
        margin-top: 31px;
        width: 218px;
    }
    
    .conteinerValueOfColor{
        display: grid;
        grid-template-columns: 140px 140px;
        margin-top: 52px;
        justify-content: space-between;
        margin-left: 13px;
        margin-right: 13px;
    }

    .conteinerSettings{
        margin-top: 80px;
    }
    
    .textSettings{
        font-size: 27px;
    }
    
    .BoxSlider{
        margin-top: 32px;
    }
    
    .sliderText{
        font-size: 22px;
    }
    
    .slider{
        width: 300px;
    }
}

@media only screen and ( max-width: 1024px){

   .sliderText{
<<<<<<< HEAD
        font-size: 1.31vw;
=======
        font-size: 15px;
>>>>>>> origin/Catalog
    }
}

@media only screen and ( max-width: 768px){
    .textSettings{
        display: none;
    }

    .sliderText{
<<<<<<< HEAD
        font-size: 2.51vw;
        word-break: break-all;
    }

=======
        font-size: 10px;
        word-break: break-all;
    }

    .slide{
        height: 4px;
    }
    .slide::-moz-range-thumb {
        width: 1vh;
        height: 1vh;
    }

>>>>>>> origin/Catalog
}

@media only screen and ( max-width: 375px){

}